*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
}

h1{
  margin-bottom:20px;
}

.contatore_rossi, .contatore_verdi{
  font-style: italic;
}

table{
  margin: 0 auto;
  margin-top:20px;
  border:1px solid black;
}

/* per i quadratini */
table tr td{
  width:30px;
  height:30px;
  border: 1px solid black;
  text-align:center;
}

.red{
  background-color: white;
}
.green{
  background-color: green;
}
